/* @font-face {
  font-family: "roboto";
  src: url("./Roboto-Regular.ttf");
}

#page6 {
  width: 100vw;
  height: 115vh;
  overflow: hidden;
  padding-top: 15vh;
  background-color: rgb(30, 30, 30);
  background-color: red;
}

.outlineText {
  font-weight: 400;
  display: inline-block;
  font-size: 13vw;
  color: rgb(213, 205, 196);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(213, 205, 196);
}

.line1 {
  pointer-events: none;
  user-select: none;
  width: 250vw;
  overflow-x: hidden;
  line-height: 13vw;
  color: rgb(213, 205, 196);
  animation: ads 5s linear infinite both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line1 h1 {
  display: inline-block;
  font-size: 13vw;
  color: rgb(213, 205, 196);
  font-family: roboto;
}
.line2 h1 {
  display: inline-block;
  font-size: 13vw;
  color: rgb(213, 205, 196);
  font-family: roboto;
}

.line2 {
  user-select: none;
  pointer-events: none;
  transform: translateX(-40.8%);
  width: 250vw;
  overflow-x: hidden;
  line-height: 13vw;
  color: rgb(213, 205, 196);
  animation: reverseads 5s linear infinite both;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ads {
  0% {
    transform: translateX(-20.4%);
  }

  100% {
    transform: translateX(-40.8%);
  }
}

@keyframes reverseads {
  0% {
  }

  100% {
    transform: translateX(-20.4%);
  }
} */
